<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011551360462-dqkbf5l4mmid323oue8h5v3vq9jgonuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011551360462-dqkbf5l4mmid323oue8h5v3vq9jgonuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBhtykpNVrRjCsyivUYZoUWdIDvfeHCeeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1011551360462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dias.ChatEnd</string>
	<key>PROJECT_ID</key>
	<string>endtermchat-2a303</string>
	<key>STORAGE_BUCKET</key>
	<string>endtermchat-2a303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011551360462:ios:985544b7bac767ab73479f</string>
</dict>
</plist>